.view {
  position: relative;
  width: 100%;
  min-height: 730px;
  background-color: #ddd;
  background-image: linear-gradient(
       rgba(236, 237, 240, 0.4),
       rgba(62, 66, 94, 0.4)
     ),
     url('../../images/hd-wallpaper.jpg');
     
     background-position: center;
     background-repeat: no-repeat;
     margin: auto;
}

.wrapper {
  text-align: center;
  background-color: rgb(175, 121, 121);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px 40px;
  border-radius: 8px;
}

.title {
  color: rgb(46, 180, 34);
  margin-bottom: 0px;
  padding-bottom: 15px;
}


.greeting {
  margin-bottom: 16px;
  font-size: 20px;
}

.manual {
  margin-bottom: 16px;
  font-size: 20px;
}

.link {
  text-decoration: none;
  background-color:black;
  color: #fff;
  font-size: 18px;
  padding: 2px 4px;
  border-radius: 4px;
  line-height: 100%;
}

.link:hover,
.link:focus {
  background-color:rgb(29, 58, 155);
}


.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 8px;
  align-items: center;
  color:rgb(33, 9, 167)
}

.user {
  margin-bottom: 20px;
}

.userName {
  background-color:rgb(0, 47, 255);
  color: #fff;
  font-size: 24px;
  padding: 4px 8px;
  border-radius: 4px;
}
